{% extends 'base.html' %}
{% load static %}

{% block title %}Projets{% endblock %}

{% block content %}

<body class="bg-violet-50 text-gray-900 flex flex-col min-h-screen pt-16">
  <nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="{% url 'index' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="{% static 'images/logoentreprise.png' %}" class="h-8" alt="TeamBuilding Logo">
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Se connecter</button>
        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="{% url 'index' %}" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Accueil</a>
        </li>
        <li>
          <a href="{% url 'projet' %}" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Projet</a>
        </li>
        <li>
          <a href="{% url 'equipe' %}" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Equipe</a>
        </li>
        <li>
          <a href="{% url 'objectif' %}" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Objectif</a>
        </li>
        <li>
          <a href="{% url 'contact' %}" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

  <div class="flex flex-col justify-start items-center h-[80vh] space-y-6 px-4 mt-6">

    <section class="flex bg-white shadow-xl rounded-xl overflow-hidden w-11/12 lg:w-3/4 h-[25vh]">
      <div class="w-1/6 relative">
        <div class="h-0 pb-[100%] relative cursor-pointer" onclick="openModal()">
          <img src="{% static 'images/logo projet1.jpg' %}" alt="Projet" class="absolute inset-0 w-full h-full object-cover" />
        </div>
      </div>
      <div class="p-6 flex flex-col justify-center items-start text-left w-5/6">
        <h2 onclick="openModal()" class="text-xl font-bold text-blue-800 mb-6 cursor-pointer hover:underline text-center mx-auto">
          Développement jeu vidéo sur application web
        </h2>               
      </div>
    </section>

    <section class="flex bg-white shadow-xl rounded-xl overflow-hidden w-11/12 lg:w-3/4 h-[25vh]">
      <div class="w-1/6 relative">
        <div class="h-0 pb-[100%] relative cursor-pointer" onclick="openModal2()">
          <img src="{% static 'images/warcraft.jpg' %}" alt="Projet 2" class="absolute inset-0 w-full h-full object-cover" />
        </div>
      </div>
      <div class="p-6 flex flex-col justify-center items-start text-left w-5/6">
        <h2 onclick="openModal2()" class="text-xl font-bold text-blue-800 mb-6 cursor-pointer hover:underline text-center mx-auto">
          Développement d'un jeu vidéo
        </h2>
      </div>
    </section>

    <section class="flex bg-white shadow-xl rounded-xl overflow-hidden w-11/12 lg:w-3/4 h-[25vh]">
      <div class="w-1/6 relative">
        <div class="h-0 pb-[100%] relative cursor-pointer" onclick="openModal3()">
          <img src="{% static 'images/logoprojet3.jpg' %}" alt="Projet 3" class="absolute inset-0 w-full h-full object-cover" />
        </div>
      </div>
      <div class="p-6 flex flex-col justify-center items-start text-left w-5/6">
        <h2 onclick="openModal3()" class="text-xl font-bold text-blue-800 mb-6 cursor-pointer hover:underline text-center mx-auto">
          Application de rencontre en groupe
        </h2>
      </div>
    </section>

  </div>

  <div id="modal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white p-6 rounded-3xl shadow-2xl max-w-3xl w-full relative animate-fadeIn">
      <button onclick="closeModal()" class="absolute top-3 right-4 text-gray-600 text-3xl font-bold hover:text-red-500 transition">&times;</button>
      <div class="w-full flex justify-center mb-6">
        <img src="{% static 'images/raftel.png' %}" alt="Titre du projet" class="h-16 object-contain">
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mb-6">
        <img src="{% static 'images/road to raftel.png' %}" alt="Image 1" class="w-full aspect-square object-cover rounded-xl shadow">
        <img src="{% static 'images/ace.png' %}" alt="Image 2" class="w-full aspect-square object-cover rounded-xl shadow">
        <img src="{% static 'images/raftel2.png' %}" alt="Image 3" class="w-full aspect-square object-cover rounded-xl shadow">
      </div>
      <div class="text-gray-800 text-sm space-y-2 text-left">
        <p class="italic text-gray-600 mb-2">Jeu interactif pour web et mobile. Le but de ce projet été de crée un jeu de grille où un personnage doit aller d'une case A à une case B en faisant le moins de déplacements possible.</p>
        <div><span class="font-semibold text-gray-900">📅 Début :</span> 1er mai 2022</div>
        <div><span class="font-semibold text-gray-900">📅 Fin :</span> 15 juin 2022</div>
        <div><span class="font-semibold text-gray-900">⏳ Durée :</span> 6 semaines</div>
        <div><span class="font-semibold text-gray-900">👤 Chef de projet :</span> Hugo Vitse</div>
        <div><span class="font-semibold text-gray-900">👥 Membres :</span> Guillaume Denis, Benjamin Hubert, Wilfried Deswarte, Remi Degreave, Amine El Bakali</div>
        <div><span class="font-semibold text-gray-900">🛠️ Compétences :</span> HTML, CSS, JavaScript, C</div>
      </div>
    </div>
  </div>

  <div id="modal2" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white p-6 rounded-3xl shadow-2xl max-w-3xl w-full relative animate-fadeIn">
      <button onclick="closeModal2()" class="absolute top-3 right-4 text-gray-600 text-3xl font-bold hover:text-red-500 transition">&times;</button>
      <div class="w-full flex justify-center mb-6">
        <h2 class="text-2xl font-bold text-gray-800">
          War of the Woods
        </h2>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mb-6">
        <img src="{% static 'images/projet2.png' %}" alt="Image 1" class="w-full aspect-square object-cover rounded-xl shadow">
        <img src="{% static 'images/totem.png' %}" alt="Image 2" class="w-full aspect-square object-cover rounded-xl shadow">
        <img src="{% static 'images/constru.png' %}" alt="Image 3" class="w-full aspect-square object-cover rounded-xl shadow">
      </div>
      <div class="text-gray-800 text-sm space-y-2 text-left">
        <p class="italic text-gray-600 mb-2">Un jeu vidéo inspiré de Warcraft où vous devez amèliorer vos batiments afin de repousser les hordes ennemis ! </p>
        <div><span class="font-semibold text-gray-900">📅 Début :</span> 20 2023</div>
        <div><span class="font-semibold text-gray-900">📅 Fin :</span> 1 Juin 2023</div>
        <div><span class="font-semibold text-gray-900">⏳ Durée :</span> 5 semaines</div>
        <div><span class="font-semibold text-gray-900">👤 Chef de projet :</span> Paul Mazaingue</div>
        <div><span class="font-semibold text-gray-900">👥 Membres :</span> Adam Vidal</div>
        <div><span class="font-semibold text-gray-900">🛠️ Compétences :</span> Html, Css, Javascript, C++</div>
      </div>
    </div>
  </div>

  <div id="modal3" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white p-6 rounded-3xl shadow-2xl max-w-3xl w-full relative animate-fadeIn">
      <button onclick="closeModal3()" class="absolute top-3 right-4 text-gray-600 text-3xl font-bold hover:text-red-500 transition">&times;</button>
      <div class="w-full flex justify-center mb-6">
        <h2 class="text-2xl font-bold text-gray-800">
          Assistant IA Vocal
        </h2>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mb-6">
        <img src="{% static 'images/quotidien.jpg' %}" alt="Image 1" class="w-full aspect-square object-cover rounded-xl shadow">
        <img src="{% static 'images/compte.jpg' %}" alt="Image 2" class="w-full aspect-square object-cover rounded-xl shadow">
        <img src="{% static 'images/connexionlinx.png' %}" alt="Image 3" class="w-full aspect-square object-cover rounded-xl shadow">
      </div>
      <div class="text-gray-800 text-sm space-y-2 text-left">
        <p class="italic text-gray-600 mb-2">Une application qui consiste à organiser des sorties avec d'autres personnes et d'avoir un suivi quotidien de l'humeur et du bien être de l'utilisateur</p>
        <div><span class="font-semibold text-gray-900">📅 Début :</span> 1 Mai 2024</div>
        <div><span class="font-semibold text-gray-900">📅 Fin :</span> 30 Juin 2024</div>
        <div><span class="font-semibold text-gray-900">⏳ Durée :</span> 8 semaines</div>
        <div><span class="font-semibold text-gray-900">👤 Chef de projet :</span> Hugo Vitse</div>
        <div><span class="font-semibold text-gray-900">👥 Membres :</span> Remi Degraeve, Benjamin Hubert, Yassine Chiadmi, Amine El Bakali</div>
        <div><span class="font-semibold text-gray-900">🛠️ Compétences :</span> React Native, React, Htlm, Css, Javascript, Typescript</div>
      </div>
    </div>
  </div>

  <script>
    function openModal() {
      const modal = document.getElementById("modal");
      modal.classList.remove("hidden");
      modal.classList.add("animate-fadeIn");
    }

    function closeModal() {
      const modal = document.getElementById("modal");
      modal.classList.add("hidden");
      modal.classList.remove("animate-fadeIn");
    }

    function openModal2() {
      const modal2 = document.getElementById("modal2");
      modal2.classList.remove("hidden");
      modal2.classList.add("animate-fadeIn");
    }

    function closeModal2() {
      const modal2 = document.getElementById("modal2");
      modal2.classList.add("hidden");
      modal2.classList.remove("animate-fadeIn");
    }

    function openModal3() {
      const modal3 = document.getElementById("modal3");
      modal3.classList.remove("hidden");
      modal3.classList.add("animate-fadeIn");
    }

    function closeModal3() {
      const modal3 = document.getElementById("modal3");
      modal3.classList.add("hidden");
      modal3.classList.remove("animate-fadeIn");
    }

  </script>

{% endblock %}