{% extends 'base.html' %}

{% block title %}Test{% endblock %}

{% block content %}
<div class="max-w-md mx-auto mt-10 p-6 bg-white shadow-md rounded">
    <h2 class="text-2xl font-bold text-center">Création équipe</h2>
    
    <form method="post" action="{% url 'demander_equipe' %}" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="w-full bg-blue-600 text-white py-2 px-4 my-4 rounded">
            Demander une équipe
        </button>
        {% if error %}
          <p style="color:red">{{ error }}</p>
        {% endif %}
    </form>
</div>

<div class="max-w-md mx-auto mt-10 p-6 bg-white shadow-md rounded">
    <h2 class="text-2xl font-bold text-center">Ajustement coefficients</h2>
    
    <form method="post" action="{% url 'ajuster_coefficients' %}" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="w-full bg-blue-600 text-white py-2 px-4 my-4 rounded">
            Ajuster les coefficients
        </button>
        {% if error %}
          <p style="color:red">{{ error }}</p>
        {% endif %}
    </form>
</div>

{% endblock %}